.formulario{
    margin-top: 12%;
    background-color:#E2E3EE;
    width: 50%;
    opacity: 0.9;
}
body{
    background-image: url("../img/2895265.jpg");
    background-repeat: no-repeat;

}
