.Job{
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    width:70%;
    opacity: 0.9;
}
.categoria{
    width:50%;
    margin-top: 4%;
    margin-left: auto;
    margin-right: 32%;
}

.Busqueda{
    width: 50%;
    margin-top: 4%;
    margin-left: 32%;
    margin-right:auto;
}

.BarSearch{
 margin-right: 2%;
}

.Navbar{
    background-color: #474E4D;
}

.titulo{
    background-color: #474E4D;
    font-size: 16px;
    font-style: oblique;
    color: aliceblue;
}



.cortar{
    overflow: hidden;
  text-overflow: ellipsis;
    display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

ReactPaginate {
    margin-top:3%;
    margin-left: auto;
    margin-right: auto;
}
