.Jobs{
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width:70%;
    opacity: 0.9;
}
.Header{
  color:#fff;
  background-color: #59D1BC;
  font-size: 18px;
  font-style: oblique;

}